<video id="background-video" autoplay loop muted>
    <source src="../../assets/videos/videoplayback.webm" type="video/mp4" />
  </video>
  
  <div class="container">
    <div class="image-box">
      <video class="pic1"  autoplay loop muted>
        <source src= "../../assets/videos/a8c404399dfd588f7f2d5684edce3a98 (1).mp4" type="video/mp4"/>
      </video>
    </div>
    
    <button class="btn1">KNOW MORE</button><br><br>
    <button class="btn2">BUY NOW</button>
  
    <div class="image-box2">
        <video class="pic2"  autoplay loop muted>
            <source src= "../../assets/videos/059e717d5edb2dac4584a5974c6a30b5 (1).mp4" type="video/mp4"/>
          </video>
    </div>
  
    <button class="btn3">KNOW MORE</button><br><br>
    <button class="btn4">BUY NOW</button>

    <div class="image-box3">
        <video class="pic3"  autoplay loop muted>
            <source src= "../../assets/videos/ba209c0c63470f22b33c2ab11273a302.mp4" type="video/mp4"/>
          
          </video>
        </div>
        
        
        <button class="btn5">KNOW MORE</button><br><br>
        <button class="btn6">BUY NOW</button>
      </div>


<app-footer></app-footer>