@import '/src/styles.scss';

.container{
    // border:.1vmin #4444 solid;
    border-radius:1rem ;
    height: auto;
    width: 90%;
    justify-content: center;
    margin-left: 5rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(40deg,#64B5F6, #E1BEE7);

   
.card-table {
    padding:.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    border-radius:1rem;
    word-wrap: break-word;
    // background-color: #fff;
    background-clip: border-box;
    // border: 1px solid rgba(0, 0, 0, 0.2);
  
  }
  
  .table-table-responsive{
    margin:0 15rem;
    height: 20rem ;
    padding:0 2rem;
    margin-top:-2rem;
    position: -webkit-sticky;
    font-size: 1rem;
   width: 80%;
    font-family: $customFont2;
    // height:10rem;
    // border:1px #333 solid;
  
    tr{
        margin-left:-80rem;
    }
  
  }
  .btn-btn-danger  {
  row-gap: 2rem;
    position: absolute;
    float: right;
    margin-left: -8.5rem;
    font-size:1rem !important;
    margin-top:-30px !important;
    font-weight: 400;
    height: 3rem;
    border: none;
    border-radius:8px;
    border: 1px solid #000;
    padding:.5rem .7rem;
    color: #fff;
    // background: rgb(244, 67, 54);
    background: rgb(244, 67, 54);
    transition: 900ms;
  }
  
  
  
  .btn-btn-danger:hover{
    background: rgb(183, 28, 28);
    cursor: pointer;
  }
  
  
  .btn-Empty  {
    row-gap: 2rem;
    position: absolute;
    font-size:1rem !important;
    margin-top: 20px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1.5rem;
    color: #fff;
    margin-left: -40rem;
    // background: rgb(244, 67, 54);
    background: rgb(244, 67, 54);
    transition: 900ms;
  }
  
  .btn-Empty:hover{
    background: rgb(183, 28, 28);
    cursor: pointer;
  }
  
  .btn-shop  {
    row-gap: 2rem;
    position: absolute;
    font-size:1rem !important;
    margin-top: 20px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    margin-left: -30rem;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1rem;
  
     color: #fff;
     font-family: $customFont2;
    // background: rgb(244, 67, 54);
    background: rgb(51, 99, 255);
    transition: 900ms;
  }
  
  .btn-shop:hover{
    background: rgb(8, 55, 209);
  }
  
  .btn-success  {
    position: absolute;
    font-size:1rem !important;
    margin-top: 20px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    margin-left:-20rem;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1.5rem;
    color: #fff;
    background: rgb(102, 187, 106);
    transition: 900ms;
  }
  
  
  .btn-success:hover{
    background: rgb(56, 142, 60);
  }
  
  .btn-total {
    height: 3rem;
    position:absolute !important;
    box-sizing: border-box;
    overflow: hidden;
    font-size:1rem !important;
    // margin-top:20px !important;
    font-weight: 400;
    border: none;
    // padding:.3rem 0 0;
    border-radius:8px;
    margin-left:-10rem;
    border: 1px solid #3333;
    padding:.2vmin 8vmin;
    border-radius: .5vmin;
    // background: linear-gradient(20deg,   rgb(233, 30, 99),rgb(224, 64, 251),rgb(128, 216, 255));
    // background: transparent;
    margin-top:20px  !important;
  
  }
  
  thead{
    position: relative;
    height: 10vmin;
  
  
    tr{
      padding: .3rem;
      font-size: $customFont2;
  
    }
  }
  
  
  td{
    font-size: 1rem;
  font-family: $customFont2;
  padding-left:2rem;
  margin: 5rem;
  
}     
.max-btn{
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
display: flex;
flex-wrap: wrap;
justify-content: center;
height:2.5rem;
width:2%;
padding:.8rem 1rem;
border-radius: .5rem;
// margin-left:2rem;
margin-left:7rem;
border: none;
margin-top:-.4rem;
background: #000;
outline: none;
color: #fff;
}
.min-btn{
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
display: flex;
flex-wrap: wrap;
justify-content: center;
height:2.5rem;
width:2%;
padding:.7rem 1rem;
border-radius: .5rem;
margin-left:7rem;
margin-left:-2rem;
margin-top: -2.4rem;
border: none;
background: #000;
outline: none;
color: #fff;
}

.quantity-Input{
padding:.2rem 1rem;
height:2rem;
width: 64%;
margin-left:.5rem;
}
}



.card {
  height:120vh;
  margin:0;
  padding: 25px;
  border-radius: .5rem;
  // border:.1rem solid rgba(0, 0, 0, 0.2);
  background:linear-gradient(40deg,#64B5F6, #E1BEE7);

.card-title{
 position: absolute;
  overflow: hidden;
  box-sizing: border-box;
 left:50rem;
 top: 2rem;
 
}
}

.center{
  height: 80rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

}
  .center-img{
    height: 400px;
    margin-top:20rem;
    border-radius:1rem;
    transform: scale(1);
    animation: scale 1000ms;
  }
@keyframes scale{
  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.2);
  }
}

h5{
  font-weight:500;
  font-size: 3rem;
 margin-left: 2rem;
  font-family: $customFont2;

}

h4{
  font-size: 1rem;
  font-weight: 500;
 margin-top: 5rem;
 margin-left: 2rem;
 font-family: $customFont2;
}

h6{
  font-size: .9rem;
  font-size: 300;
  margin-top: 3rem;
  margin-left: 2rem;
  font-family: $customFont2;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background:linear-gradient(40deg,#64B5F6, #E1BEE7);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

.center .btn {
  font-size: 1rem !important;
  margin-top: 20px !important ;
  font-weight: 400;
  padding:.6rem 4.2rem;
  border: none;
  outline: none;
  border-radius:10px !important;
  background: linear-gradient(30deg, rgb(236, 64, 122), rgb(129, 212, 250));
  cursor: pointer;
  font-family: $customFont2;
  transition: 900ms;
  border: .1px solid #444;
}
.center .btn:hover{
  background: linear-gradient(30deg,  rgb(129, 212, 250), rgba(236,64,122));
  // transform: scale(1.1);
  font-family: $customFont2;
  border: .1px solid #444;
 }

 svg{
  z-index:2;
  position: absolute;
  box-sizing: border-box;
  overflow:hidden;
  margin-top:-70rem;
  height: 50vh;
  width:60%;
  rotate: 180deg;
  margin-left: -30rem;
}



@media only screen and (max-width:768px){

  
.container{
  border:.1vmin #4444 solid;
  border-radius:3vmin ;
  height:auto;
  width:90%;
  justify-content: center;
  margin-left:6rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background:linear-gradient(40deg,#64B5F6, #E1BEE7);

  .card-table {
    padding:.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    border-radius:1rem;
    word-wrap: break-word;
    // background-color: #fff;
    background-clip: border-box;
    // border: 1px solid rgba(0, 0, 0, 0.2);
  
  
    .table-table-responsive{
      margin:0 18rem;
      height: 20rem ;
      padding:0 2rem;
      margin-top:-2rem;
      position: -webkit-sticky;
      font-size: 1rem;
     width:80%;
      font-family: $customFont2;
      // height:10rem;
      // border:1px #333 solid;
    
      tr{
          margin-left:-80rem;
      }
      }

      .btn-btn-danger  {
        row-gap: 2rem;
          position: absolute;
          float: right;
          margin-left: -4rem;
          font-size:1rem !important;
          margin-top:-19px !important;
          font-weight: 400;
          height:2rem;
          border: none;
          border-radius:8px;
          border: 1px solid #000;
          padding:.5rem .6rem;
          color: #fff;
          // background: rgb(244, 67, 54);
          background: rgb(244, 67, 54);
          transition: 900ms;
        }

          
  .btn-Empty  {
    row-gap: 2rem;
    position: absolute;
    font-size:1rem !important;
    margin-top:25px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1rem;
    color: #fff;
    margin-left: -40rem;
    // background: rgb(244, 67, 54);
    background: rgb(244, 67, 54);
    transition: 900ms;
  }

    
  .btn-shop  {
    row-gap: 2rem;
    position: absolute;
    font-size:1rem !important;
    margin-top: 22px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    margin-left: -30rem;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1rem;
  
     color: #fff;
     font-family: $customFont2;
    // background: rgb(244, 67, 54);
    background: rgb(51, 99, 255);
    transition: 900ms;
  }

    
  .btn-success  {
    position: absolute;
    font-size:1rem !important;
    margin-top: 22px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    margin-left:-20rem;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1.5rem;
    color: #fff;
    background: rgb(102, 187, 106);
    transition: 900ms;
  }

    
  .btn-total {
    height:2rem;
    position:absolute !important;
    box-sizing: border-box;
    overflow: hidden;
    font-size:1rem !important;
    // margin-top:20px !important;
    font-weight: 400;
    border: none;
    // padding:.3rem 0 0;
    border-radius:8px;
    margin-left:-14em;
    border: 1px solid #3333;
    padding:.1vmin 1vmin;
    border-radius: .5vmin;
    // background: linear-gradient(20deg,   rgb(233, 30, 99),rgb(224, 64, 251),rgb(128, 216, 255));
    // background: transparent;
    margin-top:20px  !important;
    }

  
    thead{
      position: relative;
      height:20vmin;
      width:auto;
      box-sizing: border-box;
      overflow: hidden;
    
      tr{
        padding:2rem;
        font-size: $customFont2;
    
      }
    }
     
  td{
    font-size: 1rem;
  font-family: $customFont2;
  padding-left:2rem;
  margin: 2rem;
  }
  
  .max-btn{
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height:2.5rem;
  width:2%;
  padding:.8rem 1rem;
  border-radius: .5rem;
  // margin-left:2rem;
  margin-left:3.4rem;
  border: none;
  margin-top:-.4rem;
  background: #000;
  outline: none;
  color: #fff;
  }

  .min-btn{
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height:2.5rem;
  width:2%;
  padding:.7rem 1rem;
  border-radius: .5rem;
  margin-left:7rem;
  margin-left:-1.8rem;
  margin-top: -2.4rem;
  border: none;
  background: #000;
  outline: none;
  color: #fff;
  }

  .quantity-Input{
    padding:.2rem 1rem;
    height:2rem;
    width:80%;
    margin-left:.3rem;
    }
  }
  }

  
.card {
  height:180vh;
  width: 140%;
  margin:0;
  padding: 25px;
  border-radius: .5rem;
  // border:.1rem solid rgba(0, 0, 0, 0.2);
  background:linear-gradient(40deg,#64B5F6, #E1BEE7);

.card-title{
 position: absolute;
  overflow: hidden;
  box-sizing: border-box;
 left:22rem;
 text-align: center;
 padding-top:5rem;
 font-size:4rem;
 font-family: $customFont2;
 
}
}

.center{
  height: 80rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-left:14%;
}
  .center-img{
    height:500px;
    margin-top:30rem;
    border-radius:1rem;
    // transform: scale(1);
    animation: scale 1000ms;
  }
@keyframes scale{
  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.2);
  }
}

h5{
  font-weight:500;
  font-size: 5rem;
 margin-left: 2rem;
  font-family: $customFont2;

}

h4{
  font-size:2rem;
  font-weight: 500;
 margin-top:8rem;
 margin-left: 2rem;
 font-family: $customFont2;
}

h6{
  font-size: 1.2rem;
  font-size: 300;
  margin-top:2rem;
  margin-left: 2rem;
  font-family: $customFont2;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background:linear-gradient(40deg,#64B5F6, #E1BEE7);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

.center .btn {
  font-size: 1rem !important;
  margin-top: 20px !important ;
  font-weight: 400;
  margin-left:2rem;
  padding:.6rem 4.2rem;
  border: none;
  outline: none;
  border-radius:10px !important;
  background: linear-gradient(30deg, rgb(236, 64, 122), rgb(129, 212, 250));
  cursor: pointer;
  font-family: $customFont2;
  transition: 900ms;
  border: .1px solid #444;
}
.center .btn:hover{
  background: linear-gradient(30deg,  rgb(129, 212, 250), rgba(236,64,122));
  // transform: scale(1.1);
  font-family: $customFont2;
  border: .1px solid #444;
 }

  
}

@media only screen and (max-width:618px){
  
.container{
  border:.1vmin #4444 solid;
  border-radius:3vmin ;
  height:auto;
  width:90%;
  justify-content: center;
  margin-left:6rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background:linear-gradient(40deg,#64B5F6, #E1BEE7);

  .card-table {
    padding:.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    border-radius:1rem;
    word-wrap: break-word;
    // background-color: #fff;
    background-clip: border-box;
    // border: 1px solid rgba(0, 0, 0, 0.2);
  
  
    .table-table-responsive{
      margin:0 18rem;
      height: 20rem ;
      padding:0 2rem;
      margin-top:-2rem;
      position: -webkit-sticky;
      font-size: 1rem;
     width:80%;
      font-family: $customFont2;
      // height:10rem;
      // border:1px #333 solid;
    
      tr{
          margin-left:-80rem;
      }
      }

      .btn-btn-danger  {
        row-gap: 2rem;
          position: absolute;
          float: right;
          margin-left: -4rem;
          font-size:1rem !important;
          margin-top:-19px !important;
          font-weight: 400;
          height:2rem;
          border: none;
          border-radius:8px;
          border: 1px solid #000;
          padding:.5rem .6rem;
          color: #fff;
          // background: rgb(244, 67, 54);
          background: rgb(244, 67, 54);
          transition: 900ms;
        }

          
  .btn-Empty  {
    row-gap: 2rem;
    position: absolute;
    font-size:1rem !important;
    margin-top:25px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1rem;
    color: #fff;
    margin-left: -40rem;
    // background: rgb(244, 67, 54);
    background: rgb(244, 67, 54);
    transition: 900ms;
  }

    
  .btn-shop  {
    row-gap: 2rem;
    position: absolute;
    font-size:1rem !important;
    margin-top: 22px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    margin-left: -30rem;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1rem;
  
     color: #fff;
     font-family: $customFont2;
    // background: rgb(244, 67, 54);
    background: rgb(51, 99, 255);
    transition: 900ms;
  }

    
  .btn-success  {
    position: absolute;
    font-size:1rem !important;
    margin-top: 22px !important;
    font-weight: 400;
    height: 2rem;
    border: none;
    margin-left:-20rem;
    border-radius:8px;
    border: 1px solid #000;
    padding:.3rem 1.5rem;
    color: #fff;
    background: rgb(102, 187, 106);
    transition: 900ms;
  }

    
  .btn-total {
    height:2rem;
    position:absolute !important;
    box-sizing: border-box;
    overflow: hidden;
    font-size:1rem !important;
    // margin-top:20px !important;
    font-weight: 400;
    border: none;
    // padding:.3rem 0 0;
    border-radius:8px;
    margin-left:-14em;
    border: 1px solid #3333;
    padding:.1vmin 1vmin;
    border-radius: .5vmin;
    // background: linear-gradient(20deg,   rgb(233, 30, 99),rgb(224, 64, 251),rgb(128, 216, 255));
    // background: transparent;
    margin-top:20px  !important;
    }

  
    thead{
      position: relative;
      height:20vmin;
    
      tr{
        padding:2rem;
        font-size: $customFont2;
    
      }
    }
     
  td{
    font-size: 1rem;
  font-family: $customFont2;
  padding-left:2rem;
  margin: 10rem;
  }
  
  .max-btn{
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height:2.5rem;
  width:2%;
  padding:.8rem 1rem;
  border-radius: .5rem;
  // margin-left:2rem;
  margin-left:3.4rem;
  border: none;
  margin-top:-.4rem;
  background: #000;
  outline: none;
  color: #fff;
  }

  .min-btn{
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height:2.5rem;
  width:2%;
  padding:.7rem 1rem;
  border-radius: .5rem;
  margin-left:7rem;
  margin-left:-1.8rem;
  margin-top: -2.4rem;
  border: none;
  background: #000;
  outline: none;
  color: #fff;
  }

  .quantity-Input{
    padding:.2rem 1rem;
    height:2rem;
    width:80%;
    margin-left:.3rem;
    }
  }
  
  
  
  .card {
    height:150vh;
    width: 45%;
    margin:0;
    padding: 25px;
    border-radius: .5rem;
    // border:.1rem solid rgba(0, 0, 0, 0.2);
    background:linear-gradient(40deg,#64B5F6, #E1BEE7);
    
    .card-title{
      position: absolute;
      overflow: hidden;
  box-sizing: border-box;
 left:50rem;
 top: 2rem;
 
}
}

.center{
  height: 80rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  
}
.center-img{
  height: 200px;
  margin-top:20rem;
  border-radius:1rem;
  transform: scale(1);
  animation: scale 1000ms;
}
@keyframes scale{
  0%{
    transform: scale(1);
  }
  
  100%{
    transform: scale(1.2);
  }
}

h5{
  font-weight:500;
  font-size: 3rem;
 margin-left: 2rem;
  font-family: $customFont2;
  
}

h4{
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-left: 2rem;
  font-family: $customFont2;
}

h6{
  font-size: .9rem;
  font-size: 300;
  margin-top: 3rem;
  margin-left: 2rem;
  font-family: $customFont2;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background:linear-gradient(40deg,#64B5F6, #E1BEE7);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

.center .btn {
  font-size: 1rem !important;
  margin-top: 20px !important ;
  font-weight: 400;
  padding:.6rem 4.2rem;
  border: none;
  outline: none;
  border-radius:10px !important;
  background: linear-gradient(30deg, rgb(236, 64, 122), rgb(129, 212, 250));
  cursor: pointer;
  font-family: $customFont2;
  transition: 900ms;
  border: .1px solid #444;
}
.center .btn:hover{
  background: linear-gradient(30deg,  rgb(129, 212, 250), rgba(236,64,122));
  // transform: scale(1.1);
  font-family: $customFont2;
  border: .1px solid #444;
}
}
}
