<video id="background-video" autoplay loop muted>
  <source src="../../assets/videos/videoplayback.webm" type="video/mp4" />
</video>

<div class="container">
  <div class="image-box">
    <img
      src="../../assets/images/pexels-manjeet-singh-yadav-462762-1162983.jpg"
      alt=""
      class="pic1"
    />
  </div>

  <div class="image-box2">
    <img
      src="../../assets/images/pexels-bhoopal-m-642163-1446161.jpg"
      alt=""
      class="pic2"
    />
  </div>

  <div class="image-box3">
    <img
    src="../../assets/images/Cubic Zirconia Decor Ring.jpg"
    alt=""
    class="pic3"
    />
  </div>
</div>

<div class="container2">
  <div class="box">

    
    
       <h2>Best Jewellery Sale<br /></h2>
       <p class="para2">UPTO  40% Off</p>
       <span class="span1"> Making <br>Charges  </span>
       
      </div>
    </div>
    
    
    <img src="../../assets/images/pexels-the-glorious-studio-3584518-8891958.jpg" class="image2">
     
    
    <img src="../../assets/images/pexels-the-glorious-studio-3584518-5442468.jpg" class="image3">
     
    
 <img src="../../assets/images/pexels-hoanglong0108-7407595.jpg" class="image4">
     

 <div class="container3">
  <h1>
  Exchange Offer <br>
  Bring Old <b>Gold</b> and <br>Take New <b>Gold</b>
  </h1>
 </div>


